appdirs==1.4.4
buildozer==1.5.0
certifi==2022.12.7
charset-normalizer==3.1.0
colorama==0.4.6
distlib==0.3.6
docutils==0.19
filelock==3.12.0
future==0.18.3
idna==3.4
iso8601==1.1.0
Jinja2==3.1.2
Kivy==2.1.0
# Kivy-Garden==0.1.5
kivymd==1.1.1
MarkupSafe==2.1.2
packaging==23.1
pep517==0.13.0
pexpect==4.8.0
Pillow==9.5.0
platformdirs==3.5.0
ptyprocess==0.7.0
Pygments==2.15.1
pyserial==3.5
python-for-android==2023.2.10
PyYAML==6.0
requests==2.29.0
sh==1.14.3
toml==0.10.2
tomli==2.0.1
urllib3==1.26.15
usb4a==0.2.0
usbserial4a==0.4.0
virtualenv==20.23.0
